<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Comunidades del Miembro Pesado</title>
    <link rel="shortcut icon" href="../img/logo1.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="../../stylesheets/comunidadDeMiembroPesado.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
</head>
<body>

<header class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="javascript:history.go(-1)">
        <img src="../../img/volver atras 64px.png" alt="logo" class="img-fluid with-border"/></a>
    <a class="navbar-brand">
        <img src="../../img/logo1.png" alt="logo" class="img-fluid with-border"/></a>
    <a class="navbar-brand ms-auto">Monitoreo de Servicios públicos</a>
</header>

<main>
    <div class="titulo-principal">
        <h1>Comunidades del Miembro {{miembroId}}</h1>
    </div>
    <div class="comunidad-list">
        <div class="comunidad-cards">
            {{#if comunidades}}
                {{#each comunidades}}
                    <div class="comunidad-card">
                        <!-- Contenido de la tarjeta -->
                        <p class="nombre-comunidad">{{this.comunidad.nombre}}</p>
                        <div class="info-container">
                            <p class="tipo-miembro">Tipo de Miembro: {{this.tipoMiembro}}</p>
                            <select class="nuevo-tipo-miembro">
                                <option disabled selected>Seleccione un estado</option>
                                <option value="OBSERVADOR">Observador</option>
                                <option value="AFECTADO">Afectado</option>
                            </select>
                        </div>
                        <button class="cambiar-tipo-miembro" data-comunidad-id="{{this.comunidad.id}}">Cambiar</button>
                    </div>
                {{/each}}
            {{else}}
                <div class="comunidad-card">
                    No hay comunidades para este miembro
                </div>
            {{/if}}
        </div>
    </div>
</main>

<footer class="footer bg-dark text-light text-center">
    <div class="container">
        <p>Derechos de autor © DDS - GRUPO 6 - UTN - 2023</p>
    </div>
</footer>

<!-- <script src="./index.js"></script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const cambiarTipoBotones = document.querySelectorAll('.cambiar-tipo-miembro');

        cambiarTipoBotones.forEach(btn => {
            btn.addEventListener('click', function () {
                console.log('Clic en el botón');
                const comunidadId = this.getAttribute('data-comunidad-id');
                const nuevoTipoMiembro = this.parentElement.querySelector('.nuevo-tipo-miembro').value;
                const miembroId = '{{miembroId}}';

                console.log('miembroId:', miembroId);
                console.log('comunidadId:', comunidadId);
                console.log('nuevoTipoMiembro:', nuevoTipoMiembro);

                fetch(`/miembroPesado/comunidades/${comunidadId}/cambiarTipo`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({ nuevoTipoMiembro }),
                })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! Status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        const comunidad = this.parentElement;
                        if (comunidad) {
                            console.log('Elemento comunidad encontrado:', comunidad);

                            const tipoMiembroElement = comunidad.querySelector('.info-container .tipo-miembro');

                            if (tipoMiembroElement) {
                                tipoMiembroElement.textContent = `Tipo de Miembro: ${nuevoTipoMiembro}`;
                    console.log('Elemento tipo-miembro encontrado y actualizado.');
                            } else {
                                console.error('Error: tipo-miembro element not found.');
                            }
                        } else {
                            console.error('Error: Parent element not found.');
                        }
                    })
                    .catch(error => console.error('Erroras:', error));
            });
        });
    });
</script>

</body>

</html>
